*
!.gitignore
!.mise.toml
!.mise/
!.mise/tasks/
!.mise/tasks/*
!.mise/tasks/pip
!.mise/tasks/pip/*
!ansible.cfg
!inventory/
!inventory/group_vars
!inventory/group_vars/all
!inventory/group_vars/all/values.yml
!inventory/group_vars/all/vault.yml
!inventory/host_vars
!inventory/host_vars/localhost
!inventory/host_vars/localhost/values.yml
!inventory/host_vars/localhost/vault.yml
!LICENSE
!Makefile
!playbooks/
!playbooks/main.yml
!README.md
!requirements.txt
!requirements.yml
